body{
    background-color: rgb(100 200 300);
    /*
       nguyên lý cây thư mục ( con kiến leo cây)
       ../ đi lên ( ko đc gọi tên thu mục cha)
       thư mục/  -> đi sang ( vào thư mục)
       tên tệp --> đi xuống
    */
}
b{
    color:deeppink;
    text-transform: capitalize;
    text-decoration:underline;
}
a{
    font-weight: 700;

}